<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup><userSettings>
        <Settings>
            <setting name="PinnedToTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultOpenDirectory" serializeAs="String">
                <value>not yet set</value>
            </setting>
            <setting name="DefaultSaveDirectory" serializeAs="String">
                <value>not yet set</value>
            </setting>
            <setting name="ShowingSplitContainerText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value>not yet set</value>
            </setting>
            <setting name="ViewChoice" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NextVersionCheckDate" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipUpdateFor" serializeAs="String">
                <value>not set</value>
            </setting>
            <setting name="EffectsProfileName" serializeAs="String">
                <value>Defaults\Neutral</value>
            </setting>
            <setting name="ShowHyperlinkWarning" serializeAs="String">
                <value>True</value>
            </setting>
        </Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
